form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 6px;
    width: 100%;
    padding: 20px 0;
}

.fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.field {
    display: grid;
    grid-template-columns: 1fr 7fr;
    width: 100%;
}

.label {
    text-align: start;
}

.error {
    color: red;
}